<div class="row">
    <div class="col-3">
      <div class="employee-list">
        <ul>
          <li *ngFor="let d of emp" (click)="showDetails(d)">
            <img src="{{d.ava}}" class="ava1">
            <h3>{{d.name}}</h3>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div *ngIf="selectedEmp" class="employee-infor">
        <img src="{{selectedEmp.ava}}" class="ava2">
        <h2>{{selectedEmp.name}}</h2>
        <table border="1">
          <tr>
              <td><h6>Title</h6></td>
              <td><p>{{selectedEmp.lv}}</p></td>
          </tr>
          <tr>
              <td><h6>Birth</h6></td>
              <td><p>{{selectedEmp.birth}}</p></td>
          </tr>
          <tr>
              <td><h6>City</h6></td>
              <td><p>{{selectedEmp.city}}</p></td>
          </tr>
          <tr>
              <td><h6>Phone</h6></td>
              <td><p>{{selectedEmp.phone}}</p></td>
          </tr>
        </table>
      </div>
    </div>
</div>