<div class="row">
    <div class="col-3">
      <div class="employee-list">
        <ul>
          <li *ngFor="let d of emp" (click)="showDetails(d)">
            <img src="{{d.ava}}" class="ava1">
            <h3>{{d.name}}</h3>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="col-9">
      <div *ngIf="selectedEmp">
        <img src="{{selectedEmp.ava}}" class="ava2">
        <h2>{{ selectedEmp.name }}</h2>
        <table border="1">
          <tr>
              <td><strong>Title</strong></td>
              <td>{{selectedEmp.lv}}</td>
          </tr>
          <tr>
              <td><strong>Birth</strong></td>
              <td>{{selectedEmp.birth}}</td>
          </tr>
          <tr>
              <td><strong>City</strong></td>
              <td>{{selectedEmp.city}}</td>
          </tr>
          <tr>
              <td><strong>Phone</strong></td>
              <td>{{selectedEmp.phone}}</td>
          </tr>
      </table>
      </div>
    </div>
</div>