* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

h3 {
    margin-top: 10px;
}

li {
    display: flex;
    margin: 10px 0;
}

.row {
    margin-top: 100px;
}

.ava1 {
    border-radius: 100%;
    width: 55px;
    margin-right: 30px;
}

.ava2 {
    width: 100px;
}

.col-9 {
    text-align: center;
}

.employee-list {
    max-height: 350px; 
    width: 320px;
    overflow-y: auto; 
}

.employee-list ul {
    list-style: none;
    padding: 0;
}

.employee-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease; 
}

.employee-list li:hover {
    color: #fff;
    background-color: blue; 
}

@media (max-width: 1200px) {
    .employee-list {
      max-height: 450px; 
      overflow-y: auto;
    }
  
    .col-3, .col-9 {
      width: 100%;
    }
}