.card {
    border: 0;
}

.btn {
    border: 1;
    border-color: #000000;
    border-radius: 0;
}

.card-body {
    height: 450px;
}

.card-body img {
    max-width: 90%;
    height: 75%;
    display: block;
    margin: 0px auto;
}

.card-body h6 {
    margin: 20px 0 15px 20px;
}

.card-body p {
    line-height: 10px;
    margin-left: 20px;
}

.container__btn {
    margin-left: 580px;
}

.container__btn button {
    width: 45px;
    height: 40px;
    margin-left: 5px;
    margin-top: 20px;
    background-color: #ffffff;
    color: #000000;
}