<section>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li *ngFor="let i of pages" class="page-item">
            <a *ngIf="page == i" class="active page-link" href="javascript:void(0)">{{i}}</a>
            <a *ngIf="page != i" (click)="changePage(i)" class="page-link" href="javascript:void(0)">{{i}}</a>
        </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
</section>
<section>
    <div class="container">
        <div class="row">
            <div *ngFor="let p of products" class="col-3 mt-3 mb-3">
                <div class="card">
                    <img src="{{p.thumbnail}}" height="150">
                    <div class="card-body">
                        <h6><a routerLink="{{'/detail/' + p.id}}">{{p.title}}</a></h6>
                        <p>{{p.description}}</p>
                        <p>${{p.price}}.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>